<div class="wrapper">
  <div class="checkout container">
    <div class="content">

      <header>
        <h1>Sign up now!</h1>
        <p>
          Sign up below for your Bayshore Pacific Hospitality Card and get a 20% discount at all Bayshore Pacific restaurants! Make your payment using your credit card, or press the PayPal button to pay via PayPal.
        </p>
        <img src=<%= asset_path("logobar.svg") %> alt="">
        <img src=<%= asset_path("card.svg") %> alt="">
      </header>

      <%= form_tag("/checkouts", method: "post", id: "payment-form") do %>
        <section>
          <label for="email">
            <span class="input-label">Email</span>
            <div class="input-wrapper">
              <input id="email" name="email" type="email" placeholder="Email">
            </div>
          </label>

          <br>

          <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
          </div>

          <label for="amount">
            <span class="input-label">Amount</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="1800">
            </div>
          </label>
        </section>

        <button class="button" type="submit"><span>Checkout</span></button>
      <% end %>

    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
<script>
  (function () {
    var checkout = new Demo({
      formID: 'payment-form'
    });

    var client_token = "<%= @client_token %>";
    braintree.setup(client_token, "dropin", {
      container: "bt-dropin"
    });
  })()
</script>
